@import "src/styles";

.header {
  @extend .clickable-box;
  @extend .flex-centered;

  max-width: 70%;
  min-height: 80px;
  padding: 1.5rem;
  margin-bottom: 20px;
  border-radius: 3px;
  position: relative;
  background-color: var(--header--background-color);
  box-shadow: inset -4px -4px 0px 0px var(--header--box-shadow-color);

  &:hover,
  &:focus {
    background: #00b8e6;
    box-shadow: inset 3px 3px 0 0 var(--header--box-shadow-color-active);
    outline: none;
  }

  &:active {
    box-shadow: inset 3px 3px 0 0 var(--header--box-shadow-color-active);
  }

  span:first-child {
    font-size: 20px;
    margin-right: 14px;
    background-color: #fff;
    color: var(--header--background-color);
    padding: 0.5rem;
    border-radius: 50%;
  }

  span {
    color: #fff;
    margin-bottom: 0;
  }
}
