@import "src/styles";

.stop-button-active {
  span {
    transform: translate(4px, 4px);
  }

  box-shadow: inset 3px 3px 0 0 #8C2022 !important;
}

.stop-button {
  @extend .clickable-box;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  min-height: 110px;
  height: 35%;
  word-break: break-all;
  font-family: 'Press Start 2P', cursive;
  background: var(--stop-button--background-color);
  box-shadow: inset -4px -4px 0px 0px #8C2022;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &:active {
    @extend .stop-button-active;
  }
}
