.section-container {
  margin-bottom: 20px;
  background-color: #eee;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(85, 84, 89, .7);
  -moz-box-shadow: 0 1px 3px 0 rgba(85, 84, 89, .7);
  box-shadow: 0 1px 3px 0 rgba(85, 84, 89, .7);
}
